html {
  background-color: #bababa !important;
}

.shadow {
  border: 1px solid #ffc107 !important;
  border-radius: 2rem 2rem !important;
  box-shadow: 0.5rem 0.5rem 0.8rem pink !important;
  padding: 5px !important;
  /* max-width: 220px; */
}

.shadow:focus {
  border: 1px solid black !important;
  border-radius: 0.5rem 0.5rem !important;
  background-color: #ffc107 !important;
  color: #000 !important;
}

/* .shadow textarea {
  border: 0.1rem solid black;
  border-radius: 2rem 2rem;
  box-shadow: 0.5rem 0.5rem 0.8rem #000;
}

.shadow textarea:focus {
  border: 0.2rem solid #ffc107;
  border-radius: 0.5rem 0.5rem;
} */

.transition {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

a {
  color: none;
}

.carousel-wrap {
  margin: 90px auto !important;
  padding: 0 5% !important;
  width: 80% !important;
  position: relative !important;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.owl-carousel {
  display: block !important;
}
/* :nth-child(1) {
  order: 4;
}

:nth-child(2) {
  order: 1;
}

:nth-child(3) {
  order: 2;
}

:nth-child(4) {
  order: 3;
}
:nth-child(5) {
  order: 5;
}

:nth-child(6) {
  order: 6;
}

:nth-child(7) {
  order: 7;
} */
